<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Quantum Forge</vendor>
  <vendor_url>https://github.com/quantum-forge</vendor_url>

  <action id="org.quantum-forge.claude-shepherd.ebpf">
    <description>Run Claude Shepherd in eBPF mode</description>
    <message>Authentication is required to start Claude Shepherd in eBPF mode (kernel monitoring)</message>
    <icon_name>system-run</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/claude-shepherd-ebpf</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
